<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite" parallel="methods" thread-count="4">
<listeners>
<listener class-name="com.PTMWeb.utilities.Reports"></listener>
</listeners>
    <test name="Chrome Test">
        
        <classes>
            <class name="com.PTMWeb.testcases.TC_AsureTaxPortal" />
            
        </classes>
    </test>
    <!-- Test -->
</suite> <!-- Suite -->